main > header.pagewidth {
    margin-top: var(--medskip);
    padding-left: calc(var(--void) - 0.5ex - 4pt);
    height: 2.5rem;
}

#back {
    display: inline-flex;
    float: left;
    border: none;
    background: none;
    padding: 5pt 0;
    color: inherit;
}

#back::before,
header > menu a::before {
    padding: 3pt 7pt;
    font-size: var(--large);
}

#rss-button::before {
    font-family: 'base-ui';
    content: '\e910';
}

#print-button::before {
    font-family: 'base-ui';
    content: '\e90c';
}

#navigatorShare::before {
    font-family: 'base-ui';
    content: '\e912';
}

#copyPermalink::before {
    font-family: base-ui;
    content: '\e905';
}

main > header > menu {
    float: right;
    visibility: hidden;
    margin: 0 0 0 auto;
    padding: 0;
    list-style: none;
    font-size: 1.1rem;
}

main#term > header > menu,
main#page > header > menu {
    visibility: visible;
}

label .t::after,
main#term #print-button {
    visibility: hidden;
}

main > header > menu > li,
ul.breadcrumb > li {
    display: inline;
}

main > header > menu > li > a {
    opacity: 0.86;
    color: var(--fg) !important;
}

.pagination .rfill a::before,
.carousel__viewport__slide:last-child > nav a::before,
#back::before {
    --tsf: rotate(-90deg) translateX(1pt);
    font-family: base-ui;
    content: '\e902';
}

#has-breadcrumb {
    padding-left: 0.5ex;
}

#has-breadcrumb a {
    margin: 2pt;
    padding: 0.5ex;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--fg);
    font-size: var(--small);
}

ul.breadcrumb {
    display: block;
    padding: 5pt 0;
    overflow: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

header > menu a {
    display: inline-flex;
    position: relative;
}

ul.breadcrumb > li:last-child a {
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
}

ul.breadcrumb > li + li:before {
    color: var(--mid);
    content: '/';
}