/*
<!----- V container ----->
<div class='has-carousel'>
    <!--- H container --->
    <div class='carousel'>
        <div>----  <div>----  <div>----  <div>---- <div>----
        |       |  |       |  |       |  |       |  |       |
        |       |  |       |  |       |  |       |  |       |
        |       |  |       |  |       |  |       |  |       |
        |       |  |       |  |       |  |       |  |       |
        ---</div>  |       |  ---</div>  |       |  ---</div>
                   ---</div>             ---</div>
    </div>
<div>
*/
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel__viewport {
    display: flex;
    height: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

ul.carousel__viewport {
    border: none;
    padding: 0;
}

.carousel__viewport > div,
.carousel__viewport > section,
ul.carousel__viewport > li,
.carousel__viewport__slide {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

ul.carousel__viewport > li {
    position: relative;
    margin: 1ex;
    border-radius: 1ex;
    background-position: center;
    background-size: cover;
    width: 16rem;
    height: 12.8rem;
}

ul.carousel__viewport > li > a {
    position: absolute;
    top: -1px;
    right: 0;
    bottom: 0;
    left: -1px;
    border-radius: 0.82ex;
    overflow: clip;
    color: var(--fg);
    font-size: var(--small);
    font-weight: bold;
}

ul.carousel__viewport > li:hover,
ul.carousel__viewport > li:focus-within {
    --tsf: scale(0.96);
    opacity: 0.86;
}

ul.carousel__viewport > li > a > span {
    display: inline-block;
    position: relative;
    border-radius: 0 0 1ex 0;
    background-color: var(--bg);
    padding: 0.7ex 2ex;
    max-width: 12.8rem;
}

ul.carousel__viewport > li > a > span::before,
ul.carousel__viewport > li > a > span::after {
    position: absolute;
    border-top-left-radius: 1ex;
    box-shadow: 0 -1ex 0 0 var(--bg);
    background-color: transparent;
    width: 1ex;
    height: 2ex;
    content: '';
}

ul.carousel__viewport > li > a > span::before {
    bottom: -2ex;
    left: 0;
}

ul.carousel__viewport > li > a > span::after {
    top: 0;
    right: -1ex;
}

#list-tags .underline,
.carousel__viewport__slide > nav a {
    display: inline-flex;
    padding: 1ex 1rem;
    gap: 1ex;
}


.pagination .lfill a::after,
#list-tags .underline::after,
.carousel__viewport__slide:first-child > nav a::after {
    /* -> */
    --tsf: rotate(90deg);
    font-family: base-ui;
    content: '\e902';
}

#list-taxonomy > .carousel__viewport {
    flex-direction: column;
    height: 14.75rem;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

#list-taxonomy {
    margin: 1rem 0;
}

#list-series ul.carousel__viewport,
#list-categories ul.carousel__viewport,
#list-author ul.carousel__viewport {
    scrollbar-width: thin;
}

#list-categories a:hover::after {
    position: absolute;
    right: 1ex;
    bottom: 1ex;
    border-radius: 0.7ex;
    background: var(--bg);
    padding: 0.7ex 0;
    width: calc(3.2rem - 2ex);
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    content: attr(data-post-counter);
}