@font-face {
    font-family: 'crimson';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Crimson Roman'),
     url(/css/fonts/crimson-roman-webfont.woff2) format('woff2');
    size-adjust: 95%;
}

@font-face {
    font-family: 'crimson';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Crimson Italic'),
         url(/css/fonts/crimson-italic-webfont.woff2) format('woff2');
    size-adjust: 95%;
}

@font-face {
    font-family: 'crimson';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Crimson Bold'),
         url(/css/fonts/crimson-bold-webfont.woff2) format('woff2');
    size-adjust: 95%;
}

@font-face {
    font-family: 'crimson';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local('Crimson BoldItalic'),
         url(/css/fonts/crimson-bolditalic-webfont.woff2) format('woff2');
    size-adjust: 95%;
}

:root {
    --rm: 'crimson';
}