@font-face {
    font-family: 'Lexica Ultralegible';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Lexica Ultralegible'),
         url(/css/fonts/LexicaUltralegible-Regular.woff2) format('woff2');
    size-adjust: 93%;
    ascent-override: 95%;
    descent-override: 33%;
}

@font-face {
    font-family: 'Lexica Ultralegible';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Lexica Ultralegible Italic'),
         url(/css/fonts/LexicaUltralegible-Italic.woff2) format('woff2');
    size-adjust: 93%;
    ascent-override: 95%;
    descent-override: 33%;
}

@font-face {
    font-family: 'Lexica Ultralegible';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Lexica Ultralegible Bold'),
         url(/css/fonts/LexicaUltralegible-Bold.woff2) format('woff2');
    size-adjust: 93%;
    ascent-override: 95%;
    descent-override: 33%;
}

@font-face {
    font-family: 'Lexica Ultralegible';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local('Lexica Ultralegible Bold Italic'),
         url(/css/fonts/LexicaUltralegible-BoldItalic.woff2) format('woff2');
    size-adjust: 93%;
    ascent-override: 95%;
    descent-override: 33%;
}

:root {
    --sf: 'Lexica Ultralegible';
}