@font-face {
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/css/fonts/Rosario-Regular.woff2) format('woff2');
    size-adjust: 90%;
    descent-override: 33%;
}

@font-face {
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/css/fonts/Rosario-Italic.woff2) format('woff2');
    size-adjust: 90%;
    descent-override: 33%;
}

@font-face {
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/css/fonts/Rosario-Bold.woff2) format('woff2');
    size-adjust: 90%;
    descent-override: 33%;
}

@font-face {
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(/css/fonts/Rosario-BoldItalic.woff2) format('woff2');
    size-adjust: 90%;
    descent-override: 33%;
}

:root {
    --sf: 'Rosario';
}