#main-article {
    margin-top: 1in;
    line-height: calc(var(--baselineStretch) * 1.618);
}

#main-article.sf h1 {
    font-weight: 700;
}

#main-article.sf header time,
#main-article.sf .subtitle,
#main-article.sf #doc-author,
#main-article.sf #doc-author a,
#main-article.sf h2,
#main-article.sf h3 {
    font-style: normal;
}

/* article frontmatter */

#main-article > header {
    display: flex;
    flex-direction: column;
    margin:var(--vskip);
    gap: 1rem;
}

#has-stage {
    display: flex;
    align-items: center;
    font-family: var(--sf);
    font-size: var(--footnotesize);
}

#series,
#stage {
    opacity: 0.8;
    color: var(--fg);
}

#series + .emoji--stage,
#series + .stage-indicator {
    margin: 0 8pt;
}

.subtitle {
    opacity: 0.86;
    margin: 1ex 0 0;
    font-style: italic;
}

#main-article [role=doc-credit],
#main-article [role=doc-colophon] {
    font-size: var(--small);
}

#doc-cover > img {
    margin: 2rem 0;
    aspect-ratio: 10 / 8;
}

figure img,
figure svg {
    width: var(--golden-ratio);
    height: auto;
    object-fit: cover;
}

figure .marginpar {
    left: unset;
}

figure.fullwidth {
    clear: both;
}

figure.fullwidth img {
    width: 100%;
}

#doc-author,
#doc-author a,
.epigraph,
blockquote cite {
    color: var(--fg);
    font-style: italic;
}

/* with avatar */
#avatar,
.author {
    display: flex;
    align-items: center;
    line-height: 1.272;
}

#doc-author .has-aria-label::after {
    font: 1rem var(--sf);
}

#avatar {
    margin-right: 12pt;
}

.author img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}

.author > a::after {
    font-size: 0.9em;
    color: var(--mid);
}

.author > a > span {
    color: var(--fg);
    font-weight: bold;
}

.author > a > span img {
    width: 1em;
    height: 1em;
    vertical-align: text-top;
}

header time {
    font-style: italic;
    -webkit-font-feature-settings:'onum' 1;
       -moz-font-feature-settings:'onum' 1;
            font-feature-settings:'onum' 1;
    font-variant-numeric: oldstyle-nums;
}

#page .date-has-label > time:before {
    content: attr(data-time-label)' ';
}

#page .date-has-label > time,
#keywords li {
    text-transform: lowercase;
}

.doc-publish-date::before {
    text-transform: initial;
}

#has-TableOfContents,
#comments-error {
    margin: var(--medskip) 0;
}

#has-TableOfContents ul {
    list-style: none;
    font-style: italic;
}

#main-article audio {
    border-radius: 2rem;
}

#main-article audio,
#main-article section > p {
    margin: 0.618pc 0;
    width: var(--golden-ratio);
}

/* article mainmatter */

#content hr {
    display: block;
    margin: 0.618pc 0;
    border: 0;
    border-bottom: var(--bound);
}

#content table {
    margin: 0.618pc 0;
    width: 100%;
    overflow-x: auto;
}

#content figure.fullwidth {
    max-width: none;
}

#content p:not(:first-of-type) {
    text-indent: var(--indent);
}

#content p img {
    width: calc(100% - var(--indent));
}

/* article backmatter */

#main-article > footer {
    margin: var(--vskip);
    border-bottom: var(--bound) ;
}

.footnote-ref {
    padding: 0 0.5ex;
    font-size: var(--footnotesize);
}

.footnotes {
    font-size: var(--footnotesize);
}

.footnotes hr {
    margin: 3rem 0 0;
    border-bottom: 1px solid;
    width: 16.18rem;
}

#has-stage + #title,
#has-timeline > p,
.footnotes ol {
    margin-top: 0;
    padding: 0;
}

.footnotes li::marker {
    font-feature-settings: 'sups' 1;
    font-variant-position: super;
}

#main-article.sf > header,
#content,
#keywords,
#contentinfo {
    margin: var(--vskip);
    overflow-wrap: break-word;
}

.verbose {
    font: 1rem/2rem monospace;
    overflow-wrap: anywhere;
}

#colophon{
    grid-column: 1;
}

#colophon > div {
    display: flex;
    margin-top: 1ex;
    gap: 1rem;
}

#qr {
    padding-top: 4pt;
}

#contribute {
    grid-column: 2;
    border-radius: 1ex;
    background-color: var(--g18s);
    padding: 1.4rem 1.4rem 1rem;
    height: fit-content;
    line-height: 1.618;
    font-family: var(--sf);
    font-size: var(--small);
}

#contrib-menu li {
    margin: 1ex 1ex 1ex 0;
}

#contrib-menu a {
    display: inline-block;
    border-radius: 1ex;
    background: var(--ac);
    padding: 4pt 9pt 3pt 7pt;
    width: 100%;
    text-align: center;
    color: var(--bg);
}

#has-contrib-menu {
    padding: .4rem 0;
}

#contentinfo ol {
    position: relative;
    margin-bottom: 0;
    padding-left: 2.5rem;
    list-style: none;
    counter-reset: li;
}

#contentinfo ol li {
    margin-bottom: 1ex;
    padding-bottom: 1ex;
}

#contentinfo ol li::before {
    display: inline-block;
    position: absolute;
    left: 0;
    border-radius: 2rem;
    background: var(--g18s);
    padding: 4pt 7pt;
    color: var(--mid);
    font: 0.7em monospace;
    content: counter(li);
    counter-increment: li;
}

#contentinfo ol li.see-more::before {
    content: '>';
}

#has-timeline {
    grid-column-start: 2;
    grid-row-start: 1;
}

#has-timeline summary {
    display: flex;
}

#has-timeline ol {
    margin: 1ex 0 0 1rem;
    border-left: 2.5pt solid var(--g18s);
    padding: 1ex 0 0 1rem;
}

#has-timeline ol li::before {
    left: -8pt;
    border: 4pt solid var(--bg);
    background: var(--mid);
    padding: 0;
    content: '\a0';
    height: 6pt;
    width: 6pt;
}

#has-timeline .emoji--stage {
    position: absolute;
    left: -8pt;
}

#TableOfContents,
.letterine {
    text-transform: lowercase;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    -webkit-font-feature-settings: 'smcp' 1;
       -moz-font-feature-settings: 'smcp' 1;
            font-feature-settings: 'smcp' 1;
}

.letterine::before {
    display: block;
    border-bottom: 2pt solid var(--ac);
    content: '';
}

.letterine > i {
    /*  <span class='letterine'><i>e</i>xample</span>
        inconsistence result across browsers
        */
    position: relative;
    top: -0.2rem;
    float: left;
    background: var(--bg);
    padding-right: .1em;
    line-height: 0.5;
    color: var(--ac);
    font-size: 6em;
}

#has-timeline .has-aria-label-top {
    margin: 5pt 0;
}

#contentinfo {
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: var(--medskip);
}

#has-share,
#comments {
    grid-column: 1 / 3;
}

#join-discussion-bluesky {
    position: relative;
    margin-left: 5pt;
    border-left: var(--border);
    padding: 5pt;
    color: #1185fe;
}

#join-discussion-bluesky > .t {
    --tsf: translate(-5em);
}

@media screen and (max-width: 640px) {

    #contentinfo {
        display: block;
    }

    #contentinfo > * {
        margin-bottom: var(--bigskip) ;
    }
    .katex-display {
        overflow-x: auto;
    }

}