{{ "<!-- head.html -->" | safeHTML -}}
{{ if or .Params.headless .Params.target .Params.alias -}}
    {{- $url := "404.html" | absURL }}
    {{- with or .Params.Target .Params.Alias }}
        {{- $url = . }}
    {{- end }}
    <title>{{ $url }}</title>
    <link rel="canonical" href="{{ $url }}">
    <meta name="robots" content="noindex">
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0; url={{ $url }}" />
{{- else -}}
    {{ partial "head/meta.html" . -}}
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    {{ partialCached "head/js.html" . -}}
    {{ partialCached "head/css.html" . -}}
    {{ partial "head/css/inline.html" . -}}
{{ end }}