@supports (height: 0svh) {
    :root {
        --vbody: calc(100svh - var(--vhead) - var(--vfoot));
    }
}

@supports (backdrop-filter: blur(0)) {
    @media only screen and (max-width: 640px) {
        #top-nav-screen.screening {
            backdrop-filter: blur(2rem);
            background: none;
        }
}